<option value="DKK">Denmark Kroner (DKK)</option>
<option value="EUR">Euro (EUR)</option>
<option value="GBP" selected>Great British Pound (GBP)</option>
<option value="NOK">Norwegian Kroner (NOK)</option>
<option value="SEK">Swedish Krona (SEK)</option>
<option value="USD">US Dollar (USD)</option>