<!doctype html>
<html>

<head>
</head>

<body>

    <div class="footer">
        <div>
            <a href="">About</a>
            <a href="/contact">Contact Us</a>
        </div>

        <div>
            <a href="/terms">Terms & Conditions</a>
            <a href="/privacy">Privacy Policy</a>
        </div>
    </div>
</body>

</html>